<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/role.css">
</head>
<body>
    <main>
        <nav class="nav"><img src="../imgs/Controls.svg" alt="Controls"></nav>
        <section class="section1">
            <div class="sidenav">
                <div class="logo10">
                    <div class="logo11"> <img src="../imgs/image 4.svg" alt="image"> </div>
                    <div class="text"><img src="../imgs/Text.svg" alt="image"></div>
                </div>
                <div class="list">
                    <ul>
                        <li class="group">
                            <a href="#" class="link1">
                                <div><img src="../imgs/home.svg" alt=""></div>
                                <div>Dashboard</div>
                            </a>
                            <a href="#" class="link2"> 
                                <div><img src="../imgs/briefcase.svg" alt=""></div>
                                <div>Roles</div>
                            </a>
                            <a href="#" class="link3"> 
                                <div><img src="../imgs/3 User.svg" alt=""></div>
                                <div>Employees</div>
                            </a>
                            <a href="#" class="link4"> 
                                <div><img src="../imgs/receipt-item.svg" alt=""></div>
                                <div>Payroll</div>
                            </a>
                            <a href="#" class="link5"> 
                                <div><img src="../imgs/Chart_Pie.svg" alt=""></div>
                                <div>Reports</div>
                            </a>
                            <a href="#" class="link6"> 
                                <div><img src="../imgs/Settings_Future.svg" alt=""></div>
                                <div>Settings</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="logout"><a href="#"><img src="../imgs/logout.svg" alt="logout"></a></div>
            </div>
            <div class="main2">
                <div class="search1">
                    <div class="searchbar">
                        <form class="search" action="action_page.php">
                            <input type="text" placeholder="Search anything here.." name="search">
                        </form>
                    </div>
                    <div class="others">
                        <div class="icon1"><img src="../imgs/icon1-settings.svg" alt="icon1"></div>
                        <div class="icon2"><img src="../imgs/icon2-bell.svg" alt="icon2"></div>
                        <div class="icon3"><img src="../imgs/icon3.svg" alt="icon3"></div>
                    </div>
                </div>
                <div class="roles1">
                    <div class="roles2">
                        <div class="roles21"><img src="../imgs/roles11.svg" alt="role11"></div>
                        <div class="button1">


                            <!-- popup start -->
                            <div id="popup">
                                <div class="section2">
                                    <div class="logo"><img src="../imgs/assign rol logo.svg" alt="logo"></div>
                                    <div class="assignrole"><img src="../imgs/Assign this role.svg" alt="assign"></div>
                                    <div class="body">
                                        <div class="search">
                                            <div class="search1"><input type="search" id="search" placeholder="Search for an individual or team"></div>
                                            <div class="searchlogo"><img src="../imgs/searchlogo.svg" alt="logo"></div>
                                        </div>
                                        <div class="member">
                                            <div class="member1"><img src="../imgs/member1.svg" alt="member1"></div>
                                            <div class="member2"><img src="../imgs/member2.svg" alt="member2"></div>
                                            <div class="member3"><img src="../imgs/member3.svg" alt="member3"></div>
                                            <div class="member4"><img src="../imgs/member4.svg" alt="member4"></div>
                                            <div class="member5"><img src="../imgs/member5.svg" alt="member5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div  onloadeddata ="" class="button11"><a href="#"><img src="../imgs/Assign.svg" alt="button"></a></div>

                            <!-- popup end -->

                            <div  class="button12"><a href="#"><img src="../imgs/New role.svg" alt="button"></a></div>
                        </div>
                    </div>
                    <div class="all">
                        <ul>
                            <li><a href="#">All Roles</a></li>
                            <li><a href="#">Permissions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="forsearch">
                    <div class="search2">
                        <input type="search" id="search" placeholder="Search Employee by name, role, ID or any related keywords">
                    </div>
                    <div class="searchfilter">
                        <div class="filterlogo1"><a href="#"><img src="../imgs/filter-Button 02.svg" alt="filter"></a></div>
                        <div class="filterlogo2"><a href=""><img src="../imgs/filter-logo2.svg" alt="logo"><img src="../imgs/filter-Button 22.svg" alt="logo"></a></div>
                    </div>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a  href="#">All</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Engineering</a></li>
                        <li><a  href="#">Marketing</a></li>
                        <li><a href="#">Recruitment</a></li>
                        <li><a  href="#">Sales</a></li>
                        <li><a href="#">Customer Service</a></li>
                    </ul>
                </nav>
                <div class="main3">
                    <div class="main31">
                        <div class="main311"><img src="../imgs/Role Card1.jpg" alt="" width="800" height="333"></div>
                        <div class="main312"><img src="../imgs/Role Card1.jpg" alt="" width="800" height="333"></div>
                    </div>
                    <div class="main32">
                        <div class="main321"><img src="../imgs/Role Card1.jpg" alt="" width="800" height="333"></div>
                        <div class="main322"><img src="../imgs/Role Card1.jpg" alt="" width="800" height="333"></div>
                    </div>
                </div>
                
        </section>
    </main>
    <script src="../js/index.js"></script>
</body>
</html>